.wimg{
    width:100px;
    cursor: pointer;
    margin:3px;
}

#VIewBox{
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    z-index:100;
    overflow: auto;
}

#VIewBox img{
    margin: auto;
    width:100%;
}
#VIewBox label{
    font-size: 2em;
    position: absolute;
    right: 50px;
    top:50px;
    color:red;
}

#rButton{
    background: orangered;
    color: #fff;
    font-size: 1.5em;
    float: right;
    margin-right: 10px;
    padding:5px;
}
#rButton:hover{
    background: rgba(255, 69, 0, 0.8);
}

#lButton{
    background: orangered;
    color: #fff;
    font-size: 1.5em;
    float: left;
    margin-right: 10px;
    padding:5px;
}
#lButton:hover{
    background: rgba(255, 69, 0, 0.8);
}

#text-data label{
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
}

#thetabs{
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space:nowrap;
    width:100%; 
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
}
#thetabs li{
    display: block;
    font-size: 1em;
    padding:8px;
    display: inline;
    cursor: pointer;
}
#thetabs li:hover{
    background: lightgray;
    color: #fff;
}
#thetabs li.active{
    border:2px solid gray;
    color: gray;
    border-bottom: none;
}
#thedata-1,#thedata-2,#thedata-3,#thedata-4,#thedata-5,#thedata-6{
    min-height: 200px;
}
#theRow{
    float: right;
}
#theRow a{
    padding:5px;
    background: gray;
    color: #fff;
    margin:1px;
}
input[elem-style="SearchButton"],input[elem-style="ResetButton"]{
    margin:2px;
    background: orangered !important;
    background-image: none !important;
    border:none !important;
    color: #fff !important;
    font-size: 1.2em;
    text-shadow: none !important;
}
input[elem-style="SearchButton"]:hover,input[elem-style="ResetButton"]:hover{
    background: orange !important;
}
@media only screen and (max-width: 1060px) {
    #thetabs li{
        display: block;
    }
    #thetabs li.active{
        border:2px solid gray;
        color: gray;
    }
}