#clgName{
    width:350px;
    border:none;
    border:1px solid #000;
    border-bottom: none;

    left: 0px;
}

#suggest{
    width: 350px;
    position: absolute;
    background: #fff;
    z-index: 100;
    overflow-x: auto;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.5);
    border-left: 1px solid #000;
}

#suggest a{
    margin: 5px;
    width:100%;
}
#suggest a:hover{
    background: rgb(51,144,255);
    color: #fff;
}

#cProfile{
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#cProfile #cName{
    font-size: 2em;
}

#cProfile label{
    font-size: 1.5em;
}

.wimg{
    width:100px;
    cursor: pointer;
    margin:3px;
}

#VIewBox{
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    z-index:100;
    overflow: auto;
}

#VIewBox img{
    margin: auto;
    width:100%;
}
#VIewBox label{
    font-size: 2em;
    position: absolute;
    right: 50px;
    top:50px;
    color:red;
}